WebApplication/Service References/CriminalServiceReference/CriminalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26812/CriminalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:26812/CriminalService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SearchFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="ser:char" />
      <xs:element minOccurs="0" name="MaxAge" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaxResults" type="xs:int" />
      <xs:element minOccurs="0" name="MaxWeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinAge" type="xs:int" />
      <xs:element minOccurs="0" name="MinHeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinWeight" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Names" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Nationalities" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchFilter" nillable="true" type="tns:SearchFilter" />
</xs:schema>